auto-install-peers=false
strict-peer-dependencies=false
allowed-scripts=@firebase/util@1.15.1, @prisma/engines@7.9.0, @scarf/scarf@1.4.0, esbuild@0.27.3, msgpackr-extract@3.0.4, prisma@7.9.0, protobufjs@7.6.5, sharp@0.34.5
